.sticky-header {
    background-color: #212121;
    color: white;
    position: sticky;
    top: 0;
    transform: translateY(-35px);
    animation: StickyHeader 0.9s ease forwards;

    /* glass effect */
    backdrop-filter: blur(6px) saturate(150%);
    -webkit-backdrop-filter: blur(6px) saturate(150%);
    background-color: rgba(17, 25, 40, 0.6);
    /* border: 1px solid rgba(255, 255, 255, 0.125) */
}

@keyframes StickyHeader {
    0% {
        transform: translateY(-35px);
    }

    100% {
        transform: translateY(0);
    }
}